/*Utils*/
.width-100 {
  width: 100%;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.padding-bottom-40 {
  padding-bottom: 40px;
}

.padding-bottom-30 {
  padding-bottom: 30px;
}

.align-all-center {
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.text-center {
  text-align: center;
}