/*Utils*/
.width-100 {
  width: 100%;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.padding-bottom-40 {
  padding-bottom: 40px;
}

.padding-bottom-30 {
  padding-bottom: 30px;
}

.align-all-center {
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.header-title {
  font-size: 42px;
  font-weight: 700;
  font-family: 'Roboto';
  letter-spacing: 1px;
}

.header-subtitle {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Open Sans';
  margin: 25px 0;
}

.section-title {
  font-size: 36px;
  font-weight: 500;
  font-family: 'Roboto';
  letter-spacing: 1px;
}

.section-subtitle{
  font-size: 18px;
  font-family: 'Open Sans';
  font-weight: 400;
  margin: 25px 0;
  color: #7c8595;
}

.section-spacing {
  padding: 90px 0;
}

.subtitle-small-spacing {
  margin: 10px 0;
}

.text-center {
  text-align: center;
}

.text-white {
  color: #fff;
}

.text-black {
  color: #2F362F;
}

.text-shadow {
  text-shadow: 1px 1px rgba(0,0,0,0.5);
}
