/*Utils*/
.font-roboto-regular {
  font-family: 'Roboto';
  font-weight: 400;
}

.font-roboto-medium {
  font-family: 'Roboto';
  font-weight: 500;
}

.font-roboto-bold {
  font-family: 'Roboto';
  font-weight: bold;
}

.font-open-sans-regular {
  font-family: 'Open Sans';
  font-weight: 400;
}

.font-open-sans-medium {
  font-family: 'Open Sans';
  font-weight: 500;
}

.font-open-sans-bold {
  font-family: 'Open Sans';
  font-weight: bold;
}

.width-100 {
  width: 100%;
}

.container {
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.margin-top-bottom-25 {
  margin: 25px 0;
}

.padding-bottom-30 {
  padding-bottom: 30px;
}

.align-all-center {
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.header-title {
  font-size: 42px;
  letter-spacing: 1px;
}

.header-subtitle {
  font-size: 18px;
}

.section-title {
  font-size: 36px;
  letter-spacing: 1px;
}

.section-subtitle{
  font-size: 18px;
  color: #7c8595;
}

.section-spacing {
  padding: 90px 0;
}

.subtitle-small-spacing {
  margin: 10px 0;
}

.text-center {
  text-align: center;
}

.text-white {
  color: #fff;
}

.text-black {
  color: #2F362F;
}

.text-shadow {
  text-shadow: 1px 1px rgba(0,0,0,0.5);
}


@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: unset;
  }
}