*,*::after,*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.sections {
  padding-bottom: 50px;
}

.title-section {
  font-size: 35px;
  color: #3b3737;
  margin-top: 50px;
}

.subtitle-section{
  font-size: 18px;
  color: #7a7171;
}

.align-all-center {
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
  text-decoration: none;
}

.subtitle-header-sectionstart-size {
  font-size: 18px;
  padding: 20px 0;
}

.style-header-sectionstart {
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.subtitle {
  display: block;
  padding: 20px 0;
  background-color: #f5f6f7;
  text-decoration: none;
  color: #3b3939;
  font-size: 18px;
  transition: all 0.3s linear;
}

.button {
  display: inline-block;
  text-decoration: none;
  text-shadow: none;
  font-stretch: condensed;
  font-size: 20px;
  color: #2c2b2b;
  padding: 18px 38px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 8px 40px 0 rgba(0, 0, 0, 0.37);
  transition: all 0.5s ease-in-out;
}

.start-creating-and-header-button:hover {
  box-shadow: 0px 8px 10px -5px rgba(33, 2, 48, 0.4);
}

.header {
  background: url(imagewoman.jpg);
  background-size: 100% 500px;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 500px;
}

.header-background {
  display: block;
  position:absolute;
  color: #ffffff;
  width: 100%;
  height: 100%;
  background: rgba(238, 57, 57, 0.9);
  text-shadow: 1px 1px 1px #000000;
}
.header-launchpage-items {
  margin: auto;
  width: 55%;
  height: 100%;
  padding-bottom: 127px;
  padding-top: 90px;
}

.title-header-size {
  font-size: 42px;
  line-height: 50px;
  font-weight: 700;
}

.header-button {
  box-shadow: 3px 3px 3px 3px #b31919;
}

.header-button:active {
  box-shadow: none, inset 5px 5px 5px #b31919;
  transform: translate(3px, 3px);
}

.choose-your-demo-image {
  display: block;
  width: 100%;
  height: 20vw;
}

.choose-your-demo {
display: grid;
grid-template-columns: repeat(2, 1fr);  
width: 90%;
margin: auto;
}

.choose-your-demo-items {
  margin: 10px;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  border-bottom: 3px solid #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
}

.choose-your-demo-link {
  position: relative;
  display: block;
  overflow: hidden;
}

.choose-your-demo-overlay {
  position: absolute;
  color: #ffffff;
  z-index: 2;
  background: rgba(0,0, 0, 0.75);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition:  all 0.3s linear;
}

.choose-your-demo-overlay:hover {
  opacity: 1;
}

.subtitle-choose-your-demo:hover {
  color: #b31919;
}

.powerful-features {
  max-width: 90%;
  height: 500px;
  margin: auto;
  background-color: #f6f7f8;
  margin-bottom: 200px;
}

.imagesfeature-card {
  width: 80px;
  height: 80px;
}

.feature-subtitle {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 500;
  color: #3b3939;

}

.feature-card {
  box-shadow: 5px 6px 20px rgba(0, 0, 0, 0.10);
  width: calc(25% - 20px);
  margin: 10px 10px;
  transition: all 0.5s ease-in;
  background-color: #ffffff;
  border-radius: 10px 10px;
  height: 140px;
}

.feature-card:hover {
  box-shadow: 5px 6px 20px rgba(0, 0, 0, 0.20);
  transform: scale(1.1);
}

.html-landing-page-image {
  display: block;
  width: 100%;
  height: 15vw;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.html-landing-page {
  width: 90%;
  margin: auto;
  margin-bottom: 100px;
}

.html-landing-page-items {
  flex: 1 1 25%;
  margin: 0 10px;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  border-bottom: 3px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 5px 6px 20px rgba(0, 0, 0, 0.2);
  transition:  all 0.3s linear;
}

.html-landing-page-items:hover {
  box-shadow: 5px 6px 20px rgba(0, 0, 0, 0.4);
}

.html-landing-page-link {
  position: relative;
  display: block;
  width: 100%;
  padding: 0 10px;
}

.html-landing-page-link:hover {
  color: #7b18a8;
}

.subtitle-html-landing-page-items {
  padding: 15px 0;
  width: 90%;
}

.start-creating {
  width: 100%;
  background-color: #786de1;
  background: linear-gradient(to bottom right, #786de1, #f44d76);
  position: relative;
  padding: 90px 0;
}

.title-sectionstart-size {
  font-size: 35px;
}

.start-creating-button {
  width: 25%;
}

.footer {
  width: 100%;
  position: relative;
  background-color: #fff;
  margin: 0 auto;
  padding: 35px 0 15px 0;
}

.footer-items {
  width: 90%;
  margin: 0 auto;

}

.footer-text-style {
  font-size: 15px;
  color: #454545;
}

.footer-copyright {
  text-align: start;
}

.footer-update {
  text-align: end;
}

.footer-link {
  text-decoration: underline;
}

.footer-button {
  width: 5%;
  margin: 10px auto;
  display: block;
  padding: 13px 15px 8px 15px;
  color: #786de1;
  background-color: transparent;
  border: 1px solid #786de1;
  border-radius: 5px;
  transition: all 0.2s linear;
}

.footer-button:hover {
  color: #ffffff;
  background-color: #786de1;
}

.footer-button-icon {
  position: relative;
  font-weight: bold;
  font-size: 20px;
}
